Advanced Analytics
Assignment 1
Group 11
Peter Day

In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier

# Column names
['client_id', 'homebanking_active', 'has_homebanking', 'has_insurance_21', 'has_insurance_23', 'has_life_insurance_fixed_cap', 'has_life_insurance_decreasing_cap', 'has_fire_car_other_insurance', 'has_personal_loan', 'has_mortgage_loan', 'has_current_account', 'has_pension_saving', 'has_savings_account', 'has_savings_account_starter', 'has_current_account_starter', 'bal_insurance_21', 'bal_insurance_23', 'cap_life_insurance_fixed_cap', 'cap_life_insurance_decreasing_cap', 'prem_fire_car_other_insurance', 'bal_personal_loan', 'bal_mortgage_loan', 'bal_current_account', 'bal_pension_saving', 'bal_savings_account', 'bal_savings_account_starter', 'bal_current_account_starter', 'visits_distinct_so', 'visits_distinct_so_areas', 'customer_since_all', 'customer_since_bank', 'customer_gender', 'customer_birth_date', 'customer_postal_code', 'customer_occupation_code', 'customer_self_employed', 'customer_education', 'customer_children', 'customer_relationship', 'target']


https://www.statology.org/pandas-rename-columns/

In [137]:
# csv data files are in a folder called data
file1 = "../data/train_month_1.csv"
file2 = "../data/train_month_2.csv"
file3 = "../data/train_month_3_with_target.csv"
files = [file3, file2, file1]
# https://stackoverflow.com/questions/68607106/creating-multiple-dataframes-using-for-loop-with-pandas
# my_dfs = {}
# for x in ['A', 'B', 'C']:
#     my_dfs[x] = pd.read_csv(r"C:\HSTS\OB\ODO\%s\test.csv" % x, delimiter=';')
# Then access the dataframes per key:
# my_dfs['A']

listnames = ['data3', 'data2', 'data1']
my_dfs = {}
for i in range(3):
    my_dfs[listnames[i]] = pd.read_csv(files[i])

In [138]:
# https://www.tutorialspoint.com/How-to-iterate-through-a-dictionary-in-Python
cols = ["customer_since_all", "customer_since_bank", "customer_birth_date"]
# for column in stu_df[['Name', 'Section']]:
# df[col] = pd.to_datetime(df[col])

# This converts the 3 time cols in the 3 dfs to datetime format then subtracts 'current date' to get time since
for k, v in my_dfs.items():
    print(k)
    for col in cols:
        v[col] = (pd.to_datetime('2018-03-01') - pd.to_datetime(v[col])).dt.days
        #v[col] = v[col].astype(int)
        
# if you run this more than once it gets confused, will have to start over by running the cell above too!

data3
data2
data1

In [139]:
data3 = my_dfs['data3']
data2 = my_dfs['data2']
data1 = my_dfs['data1']

In [140]:
# Rename columns with lag suffix
data3.columns = ['client_id', 'homebanking_active_l0', 'has_homebanking_l0', 'has_insurance_21_l0', 'has_insurance_23_l0', 'has_life_insurance_fixed_cap_l0', 'has_life_insurance_decreasing_cap_l0', 'has_fire_car_other_insurance_l0', 'has_personal_loan_l0', 'has_mortgage_loan_l0', 'has_current_account_l0', 'has_pension_saving_l0', 'has_savings_account_l0', 'has_savings_account_starter_l0', 'has_current_account_starter_l0', 'bal_insurance_21_l0', 'bal_insurance_23_l0', 'cap_life_insurance_fixed_cap_l0', 'cap_life_insurance_decreasing_cap_l0', 'prem_fire_car_other_insurance_l0', 'bal_personal_loan_l0', 'bal_mortgage_loan_l0', 'bal_current_account_l0', 'bal_pension_saving_l0', 'bal_savings_account_l0', 'bal_savings_account_starter_l0', 'bal_current_account_starter_l0', 'visits_distinct_so_l0', 'visits_distinct_so_areas_l0', 'customer_since_all_l0', 'customer_since_bank_l0', 'customer_gender_l0', 'customer_birth_date_l0', 'customer_postal_code_l0', 'customer_occupation_code_l0', 'customer_self_employed_l0', 'customer_education_l0', 'customer_children_l0', 'customer_relationship_l0', 'target']
data2.columns = ['client_id', 'homebanking_active_l1', 'has_homebanking_l1', 'has_insurance_21_l1', 'has_insurance_23_l1', 'has_life_insurance_fixed_cap_l1', 'has_life_insurance_decreasing_cap_l1', 'has_fire_car_other_insurance_l1', 'has_personal_loan_l1', 'has_mortgage_loan_l1', 'has_current_account_l1', 'has_pension_saving_l1', 'has_savings_account_l1', 'has_savings_account_starter_l1', 'has_current_account_starter_l1', 'bal_insurance_21_l1', 'bal_insurance_23_l1', 'cap_life_insurance_fixed_cap_l1', 'cap_life_insurance_decreasing_cap_l1', 'prem_fire_car_other_insurance_l1', 'bal_personal_loan_l1', 'bal_mortgage_loan_l1', 'bal_current_account_l1', 'bal_pension_saving_l1', 'bal_savings_account_l1', 'bal_savings_account_starter_l1', 'bal_current_account_starter_l1', 'visits_distinct_so_l1', 'visits_distinct_so_areas_l1', 'customer_since_all_l1', 'customer_since_bank_l1', 'customer_gender_l1', 'customer_birth_date_l1', 'customer_postal_code_l1', 'customer_occupation_code_l1', 'customer_self_employed_l1', 'customer_education_l1', 'customer_children_l1', 'customer_relationship_l1']
data1.columns = ['client_id', 'homebanking_active_l2', 'has_homebanking_l2', 'has_insurance_21_l2', 'has_insurance_23_l2', 'has_life_insurance_fixed_cap_l2', 'has_life_insurance_decreasing_cap_l2', 'has_fire_car_other_insurance_l2', 'has_personal_loan_l2', 'has_mortgage_loan_l2', 'has_current_account_l2', 'has_pension_saving_l2', 'has_savings_account_l2', 'has_savings_account_starter_l2', 'has_current_account_starter_l2', 'bal_insurance_21_l2', 'bal_insurance_23_l2', 'cap_life_insurance_fixed_cap_l2', 'cap_life_insurance_decreasing_cap_l2', 'prem_fire_car_other_insurance_l2', 'bal_personal_loan_l2', 'bal_mortgage_loan_l2', 'bal_current_account_l2', 'bal_pension_saving_l2', 'bal_savings_account_l2', 'bal_savings_account_starter_l2', 'bal_current_account_starter_l2', 'visits_distinct_so_l2', 'visits_distinct_so_areas_l2', 'customer_since_all_l2', 'customer_since_bank_l2', 'customer_gender_l2', 'customer_birth_date_l2', 'customer_postal_code_l2', 'customer_occupation_code_l2', 'customer_self_employed_l2', 'customer_education_l2', 'customer_children_l2', 'customer_relationship_l2']

In [141]:
# Join the 3 data frames into one.
data4 = data3.merge(data2, on='client_id', how='inner')
data_Nans = data4.merge(data1, on='client_id', how='inner')

In [142]:
# Impute missing values
#imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
#imputer.fit(data)
#data = pd.DataFrame(data=imputer.transform(data_Nans), columns=data_Nans.columns)

In [143]:
# Impute without target for 115 columns to use with test data
data_Nans = data_Nans.drop(columns='target', axis=1)
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(data_Nans)
data = pd.DataFrame(data=imputer.transform(data_Nans), columns=data_Nans.columns)

In [144]:
data.customer_children_l0.unique()

array(['no', 'mature', 'young', 'preschool', 'adolescent', 'grownup',
       'onebaby', 'yes'], dtype=object)

In [145]:
data.customer_relationship_l0.unique()

array(['couple', 'single'], dtype=object)

In [146]:
#df.edjefe.replace(to_replace=['no', 'yes'], value=[0, 1])
data.replace(to_replace=['no', 'mature', 'young', 'preschool', 'adolescent', 'grownup', 'onebaby', 'yes'],
             value=[0, 1, 1, 1, 1, 1, 1, 1], inplace=True)
data.replace(to_replace=['couple', 'single'], value=[1, 0], inplace=True)

In [147]:
# copy client_id and target to new df to merge with older data in data1 and data2
#target = data3[['client_id', 'target']].copy()
#data3 = data3.assign(date='2018-03')
#data2 = data2.assign(date='2018-02')
# merge target data
#data2 = pd.merge(data2, target, on='client_id')
#data1 = data1.assign(date='2018-01')
# merge target data
#data1 = pd.merge(data1, target, on='client_id')
# put all data into one df
#data = pd.concat([data1,data2, data3])
#data = data.sort_values('client_id')
data.shape

(63697, 115)

In [148]:
y = data3['target'].copy()

In [149]:
# https://www.statology.org/drop-column-pandas/
X = data.drop(columns='client_id', axis=1)
# scaler = StandardScaler()
# fit = scaler.fit(X)
# Z = fit.transform(X)

In [150]:
X.head(5)

,homebanking_active_l0,has_homebanking_l0,has_insurance_21_l0,has_insurance_23_l0,has_life_insurance_fixed_cap_l0,has_life_insurance_decreasing_cap_l0,has_fire_car_other_insurance_l0,has_personal_loan_l0,has_mortgage_loan_l0,has_current_account_l0,...,customer_since_all_l2,customer_since_bank_l2,customer_gender_l2,customer_birth_date_l2,customer_postal_code_l2,customer_occupation_code_l2,customer_self_employed_l2,customer_education_l2,customer_children_l2,customer_relationship_l2
0,0,0,0,0,0,0,1,0,0,1,...,12784.0,8613.0,1,27210,3630,9.0,0,0.0,0,1
1,1,1,0,0,0,0,0,0,0,1,...,424.0,424.0,1,8794,2460,9.0,0,3.0,1,1
2,1,1,0,0,0,0,1,0,0,1,...,13604.0,13604.0,2,29736,2660,9.0,0,3.0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,7152.0,1612.0,1,26114,6600,9.0,0,3.0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1946.0,1946.0,2,8004,8550,9.0,0,3.0,1,1

In [151]:
# Split data for training/validation, assuming balanced classes
# by default 75/25 split.  33 is a rndm seed - for reproducibility
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=33)

In [152]:
X_train.head()

,homebanking_active_l0,has_homebanking_l0,has_insurance_21_l0,has_insurance_23_l0,has_life_insurance_fixed_cap_l0,has_life_insurance_decreasing_cap_l0,has_fire_car_other_insurance_l0,has_personal_loan_l0,has_mortgage_loan_l0,has_current_account_l0,...,customer_since_all_l2,customer_since_bank_l2,customer_gender_l2,customer_birth_date_l2,customer_postal_code_l2,customer_occupation_code_l2,customer_self_employed_l2,customer_education_l2,customer_children_l2,customer_relationship_l2
41804,0,0,0,0,0,0,0,0,0,0,...,3315.0,3315.0,2,26206,2070,9.0,0,3.0,0,1
51011,1,1,0,0,0,0,0,0,1,1,...,2130.0,2130.0,1,12173,6640,4.0,1,2.0,0,1
48324,1,1,0,0,0,0,1,0,0,1,...,4838.0,4383.0,1,8429,3620,9.0,0,3.0,1,1
35601,0,0,0,0,0,0,0,0,0,0,...,4960.0,3957.0,1,26510,9620,9.0,0,3.0,0,1
44911,0,0,0,0,0,0,1,0,0,1,...,15034.0,15034.0,1,28733,2950,9.0,0,3.0,0,0

In [153]:
X_train.describe()
# this ignores columns that aren't purely numeric, including dates, but does include postal code

,homebanking_active_l0,has_homebanking_l0,has_insurance_21_l0,has_insurance_23_l0,has_life_insurance_fixed_cap_l0,has_life_insurance_decreasing_cap_l0,has_fire_car_other_insurance_l0,has_personal_loan_l0,has_mortgage_loan_l0,has_current_account_l0,...,customer_since_all_l2,customer_since_bank_l2,customer_gender_l2,customer_birth_date_l2,customer_postal_code_l2,customer_occupation_code_l2,customer_self_employed_l2,customer_education_l2,customer_children_l2,customer_relationship_l2
count,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,...,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000,47772.000000
mean,0.215440,0.281315,0.095098,0.009797,0.002721,0.112241,0.317173,0.041405,0.097798,0.501005,...,6773.060307,5815.081282,1.488131,20534.086913,5583.371452,8.786632,0.087143,2.860567,0.282969,0.801976
std,0.411132,0.449646,0.293353,0.098492,0.052095,0.315667,0.465380,0.199227,0.297044,0.500004,...,4167.273324,4049.305750,0.499864,7328.537478,3019.572113,1.093982,0.282048,0.811829,0.450446,0.398514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-214.000000,-214.000000,1.000000,6299.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3377.000000,2220.000000,1.000000,15003.000000,2660.000000,9.000000,0.000000,3.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,6726.000000,5599.000000,1.000000,20939.000000,4920.000000,9.000000,0.000000,3.000000,0.000000,1.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,9374.000000,8582.000000,2.000000,26541.000000,8750.000000,9.000000,0.000000,3.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,23070.000000,18322.000000,2.000000,56247.000000,9992.000000,9.000000,1.000000,6.000000,1.000000,1.000000

In [154]:
# try a RF fit
rf = RandomForestClassifier(max_depth=2, random_state=0)
rf.fit(X_train, y_train)
#rf.score(X_valid, y_valid)

RandomForestClassifier(max_depth=2, random_state=0)

In [155]:
rf.score(X_valid, y_valid)

0.9697331240188383

In [156]:
y_predrf = rf.predict(X_valid)
print(confusion_matrix(y_valid, y_predrf))

[[15443     0]
 [  482     0]]

In [157]:
# https://www.kaggle.com/code/stuarthallows/using-xgboost-with-scikit-learn/notebook
# Try xgboost classifier
xgb = XGBClassifier(
    objective='binary:logistic', random_state=33
)
xgb.fit(X_train, y_train, eval_set=[(X_valid, y_valid)])

c:\users\peter\appdata\local\programs\python\python39\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
c:\users\peter\appdata\local\programs\python\python39\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[17:50:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0]	validation_0-logloss:0.46709
[1]	validation_0-logloss:0.34373
[2]	validation_0-logloss:0.26795
[3]	validation_0-logloss:0.21928
[4]	validation_0-logloss:0.18711
[5]	validation_0-logloss:0.16562
[6]	validation_0-logloss:0.15139
[7]	validation_0-logloss:0.14184
[8]	validation_0-logloss:0.13572
[9]	validation_0-logloss:0.13172
[10]	validation_0-logloss:0.12931
[11]	validation_0-logloss:0.12755
[12]	validation_0-logloss:0.12682
[13]	validation_0-logloss:0.12619
[14]	validation_0-logloss:0.12578
[15]	validation_0-logloss:0.12580
[16]	validation_0-logloss:0.12557
[17]	validation_0-logloss:0.12556
[18]	validation_0-logloss:0.12561
[19]	validation_0-logloss:0.12573
[20]	validation_0-logloss:0.12601
[21]	validation_0-logloss:0.12588
[22]	validation_0-logloss:0.12598
[23]	validation_0-logloss:0.12611
[24]	validation_0-logloss:0.12626
[25]	validation_0-logloss:0.12633
[26]	validation_0-logloss:0.12648
[27]	validation_0-logloss:0.12678
[28]	validation_0-logloss:0.12689
[29]	validation_0-logloss:0.12709
[30]	validation_0-logloss:0.12725
[31]	validation_0-logloss:0.12738
[32]	validation_0-logloss:0.12745
[33]	validation_0-logloss:0.12753
[34]	validation_0-logloss:0.12759
[35]	validation_0-logloss:0.12768
[36]	validation_0-logloss:0.12778
[37]	validation_0-logloss:0.12774
[38]	validation_0-logloss:0.12790
[39]	validation_0-logloss:0.12790
[40]	validation_0-logloss:0.12802
[41]	validation_0-logloss:0.12804
[42]	validation_0-logloss:0.12819
[43]	validation_0-logloss:0.12820
[44]	validation_0-logloss:0.12840
[45]	validation_0-logloss:0.12844
[46]	validation_0-logloss:0.12864
[47]	validation_0-logloss:0.12864
[48]	validation_0-logloss:0.12878
[49]	validation_0-logloss:0.12890
[50]	validation_0-logloss:0.12913
[51]	validation_0-logloss:0.12905
[52]	validation_0-logloss:0.12916
[53]	validation_0-logloss:0.12929
[54]	validation_0-logloss:0.12923
[55]	validation_0-logloss:0.12932
[56]	validation_0-logloss:0.12932
[57]	validation_0-logloss:0.12941
[58]	validation_0-logloss:0.12951
[59]	validation_0-logloss:0.12955
[60]	validation_0-logloss:0.12979
[61]	validation_0-logloss:0.12986
[62]	validation_0-logloss:0.13000
[63]	validation_0-logloss:0.13014
[64]	validation_0-logloss:0.13017
[65]	validation_0-logloss:0.13031
[66]	validation_0-logloss:0.13038
[67]	validation_0-logloss:0.13053
[68]	validation_0-logloss:0.13065
[69]	validation_0-logloss:0.13067
[70]	validation_0-logloss:0.13074
[71]	validation_0-logloss:0.13083
[72]	validation_0-logloss:0.13088
[73]	validation_0-logloss:0.13094
[74]	validation_0-logloss:0.13101
[75]	validation_0-logloss:0.13108
[76]	validation_0-logloss:0.13129
[77]	validation_0-logloss:0.13135
[78]	validation_0-logloss:0.13138
[79]	validation_0-logloss:0.13155
[80]	validation_0-logloss:0.13162
[81]	validation_0-logloss:0.13166
[82]	validation_0-logloss:0.13195
[83]	validation_0-logloss:0.13196
[84]	validation_0-logloss:0.13200
[85]	validation_0-logloss:0.13194
[86]	validation_0-logloss:0.13209
[87]	validation_0-logloss:0.13217
[88]	validation_0-logloss:0.13224
[89]	validation_0-logloss:0.13234
[90]	validation_0-logloss:0.13276
[91]	validation_0-logloss:0.13287
[92]	validation_0-logloss:0.13296
[93]	validation_0-logloss:0.13303
[94]	validation_0-logloss:0.13319
[95]	validation_0-logloss:0.13314
[96]	validation_0-logloss:0.13325
[97]	validation_0-logloss:0.13334
[98]	validation_0-logloss:0.13325
[99]	validation_0-logloss:0.13357

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=33,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [158]:
xgb.score(X_valid, y_valid)

0.9696075353218211

In [159]:
y_pred = xgb.predict(X_valid)
print(confusion_matrix(y_valid, y_pred))

[[15439     4]
 [  480     2]]

c:\users\peter\appdata\local\programs\python\python39\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[[15443     0]

 [    0   482]]
 
 Can't get much better than that, I suppose.

## Now predict on test data

In [160]:
file1_test = "../data/test_month_1.csv"
file2_test = "../data/test_month_2.csv"
file3_test = "../data/test_month_3.csv"
files_test = [file3_test, file2_test, file1_test]

listnames_test = ['data3_test', 'data2_test', 'data1_test']
my_dfs_test = {}
for i in range(3):
    my_dfs_test[listnames_test[i]] = pd.read_csv(files_test[i])

In [161]:
# This converts the 3 time cols in the 3 dfs to datetime format then subtracts 'current date' to get time since
cols_test = ["customer_since_all", "customer_since_bank", "customer_birth_date"]
for k, v in my_dfs_test.items():
    print(k)
    print(len(v))
    for col in cols_test:
        v[col] = (pd.to_datetime('2018-03-01') - pd.to_datetime(v[col])).dt.days

data3_test
27300
data2_test
27300
data1_test
27300

In [162]:
data3_test = my_dfs_test['data3_test']
data2_test = my_dfs_test['data2_test']
data1_test = my_dfs_test['data1_test']

In [163]:
# Rename columns with lag suffix
data3_test.columns = ['client_id', 'homebanking_active_l0', 'has_homebanking_l0', 'has_insurance_21_l0', 'has_insurance_23_l0', 'has_life_insurance_fixed_cap_l0', 'has_life_insurance_decreasing_cap_l0', 'has_fire_car_other_insurance_l0', 'has_personal_loan_l0', 'has_mortgage_loan_l0', 'has_current_account_l0', 'has_pension_saving_l0', 'has_savings_account_l0', 'has_savings_account_starter_l0', 'has_current_account_starter_l0', 'bal_insurance_21_l0', 'bal_insurance_23_l0', 'cap_life_insurance_fixed_cap_l0', 'cap_life_insurance_decreasing_cap_l0', 'prem_fire_car_other_insurance_l0', 'bal_personal_loan_l0', 'bal_mortgage_loan_l0', 'bal_current_account_l0', 'bal_pension_saving_l0', 'bal_savings_account_l0', 'bal_savings_account_starter_l0', 'bal_current_account_starter_l0', 'visits_distinct_so_l0', 'visits_distinct_so_areas_l0', 'customer_since_all_l0', 'customer_since_bank_l0', 'customer_gender_l0', 'customer_birth_date_l0', 'customer_postal_code_l0', 'customer_occupation_code_l0', 'customer_self_employed_l0', 'customer_education_l0', 'customer_children_l0', 'customer_relationship_l0']
data2_test.columns = ['client_id', 'homebanking_active_l1', 'has_homebanking_l1', 'has_insurance_21_l1', 'has_insurance_23_l1', 'has_life_insurance_fixed_cap_l1', 'has_life_insurance_decreasing_cap_l1', 'has_fire_car_other_insurance_l1', 'has_personal_loan_l1', 'has_mortgage_loan_l1', 'has_current_account_l1', 'has_pension_saving_l1', 'has_savings_account_l1', 'has_savings_account_starter_l1', 'has_current_account_starter_l1', 'bal_insurance_21_l1', 'bal_insurance_23_l1', 'cap_life_insurance_fixed_cap_l1', 'cap_life_insurance_decreasing_cap_l1', 'prem_fire_car_other_insurance_l1', 'bal_personal_loan_l1', 'bal_mortgage_loan_l1', 'bal_current_account_l1', 'bal_pension_saving_l1', 'bal_savings_account_l1', 'bal_savings_account_starter_l1', 'bal_current_account_starter_l1', 'visits_distinct_so_l1', 'visits_distinct_so_areas_l1', 'customer_since_all_l1', 'customer_since_bank_l1', 'customer_gender_l1', 'customer_birth_date_l1', 'customer_postal_code_l1', 'customer_occupation_code_l1', 'customer_self_employed_l1', 'customer_education_l1', 'customer_children_l1', 'customer_relationship_l1']
data1_test.columns = ['client_id', 'homebanking_active_l2', 'has_homebanking_l2', 'has_insurance_21_l2', 'has_insurance_23_l2', 'has_life_insurance_fixed_cap_l2', 'has_life_insurance_decreasing_cap_l2', 'has_fire_car_other_insurance_l2', 'has_personal_loan_l2', 'has_mortgage_loan_l2', 'has_current_account_l2', 'has_pension_saving_l2', 'has_savings_account_l2', 'has_savings_account_starter_l2', 'has_current_account_starter_l2', 'bal_insurance_21_l2', 'bal_insurance_23_l2', 'cap_life_insurance_fixed_cap_l2', 'cap_life_insurance_decreasing_cap_l2', 'prem_fire_car_other_insurance_l2', 'bal_personal_loan_l2', 'bal_mortgage_loan_l2', 'bal_current_account_l2', 'bal_pension_saving_l2', 'bal_savings_account_l2', 'bal_savings_account_starter_l2', 'bal_current_account_starter_l2', 'visits_distinct_so_l2', 'visits_distinct_so_areas_l2', 'customer_since_all_l2', 'customer_since_bank_l2', 'customer_gender_l2', 'customer_birth_date_l2', 'customer_postal_code_l2', 'customer_occupation_code_l2', 'customer_self_employed_l2', 'customer_education_l2', 'customer_children_l2', 'customer_relationship_l2']

# Join the 3 data frames into one.
data4_test = data3_test.merge(data2_test, on='client_id', how='inner')
data_Nans_test = data4_test.merge(data1_test, on='client_id', how='inner')

In [169]:
# Impute missing values
data_test = pd.DataFrame(data=imputer.transform(data_Nans_test), columns=data_Nans_test.columns)
data_test.replace(to_replace=['no', 'mature', 'young', 'preschool', 'adolescent', 'grownup', 'onebaby', 'yes'],
             value=[0, 1, 1, 1, 1, 1, 1, 1], inplace=True)
data_test.replace(to_replace=['couple', 'single'], value=[1, 0], inplace=True)
clientID = pd.DataFrame(data=data_test['client_id'])
X_test = data_test.drop(columns='client_id', axis=1)

In [170]:
y_pred_test = pd.DataFrame(xgb.predict_proba(X_test))
#y_pred['idx'] = range(0, len(y_pred))
#sorted=y_pred.sort_values(1, ascending=False)
#top250=sorted[:250]['idx']

c:\users\peter\appdata\local\programs\python\python39\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [171]:
print(y_pred_test)

              0         1
0      0.984721  0.015279
1      0.970955  0.029045
2      0.918003  0.081997
3      0.994368  0.005632
4      0.978663  0.021337
...         ...       ...
27295  0.979317  0.020683
27296  0.927633  0.072367
27297  0.984245  0.015755
27298  0.974884  0.025116
27299  0.982389  0.017611

[27300 rows x 2 columns]

In [173]:
DF = pd.DataFrame(clientID,y_pred_test[1])
DF.to_csv("y_pred_test.csv")